:root {
    --function-height: 20px;
    --function-space-height: 28px;

    --repeat-width: 58px;
    --command-width: 82px;

    --number-space-height: 60px;
    --height: 50px;
    --width: 50px;

    --key-color: aliceblue;
}

.keyboard-space {
    height: 334px;
    width: 860px;
    background-color: #efeeee;
    padding: 3px 5px 2px 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 12px;
}

body,
p,
ul,
div,
ol,
li {
    padding: 0;
    margin: 0;
}

.keyboard-function-space {
    /* background-color: aliceblue; */
    height: var(--function-space-height);
    display: grid;
    grid-template-columns: repeat(14, 61px);
}

.keyboard-function-space p {
    height: var(--function-height);
    width: calc(100% - 10px);
    margin: 4px 0 0 5px;
    text-align: center;
    line-height: var(--function-height);
    border-radius: 4px;
    /* background-color: aqua; */
}

.keyboard-number-space {
    white-space: pre-line;
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-columns: repeat(13, var(--repeat-width)) 1fr;
    height: var(--number-space-height);
}

.keyboard-number-space p,
.keyboard-word-space-one p,
.keyboard-word-space-two p,
.keyboard-word-space-three p,
.keyboard-assist-space p {
    height: var(--height);
    width: calc(var(--width) - 10px);
    padding: 0 5px;
    /* background-color: aqua; */
    margin: 5px 0 0 5px;
    text-align: center;
    line-height: 26px;
}

.keyboard-number-space .delete,
.keyboard-word-space-two .enter,
.keyboard-word-space-three .shift {
    width: calc(100% - 20px);
    text-align: end;
}

.keyboard-word-space-one,
.keyboard-word-space-two,
.keyboard-word-space-three,
.keyboard-assist-space {
    white-space: pre-line;
    display: grid;
    height: var(--number-space-height);
    /* background-color: yellowgreen; */
}

.keyboard-word-space-one {
    grid-template-columns: 1fr repeat(13, var(--repeat-width));
}

.keyboard-word-space-one .tab,
.keyboard-word-space-two .caps-lock,
.keyboard-word-space-three .shift-left {
    width: calc(100% - 20px);
    text-align: start;
}

.keyboard-word-space-two {
    grid-template-columns: 1fr repeat(11, var(--repeat-width)) 1fr;
}

.keyboard-word-space-three {
    grid-template-columns: 1fr repeat(10, var(--repeat-width)) 1fr;
}

.keyboard-assist-space {
    grid-template-columns: repeat(3, calc(var(--repeat-width))) var(--command-width) calc(var(--repeat-width) * 5) var(--command-width) var(--repeat-width) 1fr;
}

.keyboard-assist-space p {
    width: calc(var(--repeat-width) - 20px);
}

.keyboard-assist-space .command-left,
.keyboard-assist-space .command-right {
    width: calc(var(--command-width) - 20px);
}

.keyboard-assist-space .space {
    width: calc(var(--repeat-width) * 5 - 20px)
}

.keyboard-assist-space .position {
    width: calc(100% - 20px);
}

.keyboard-assist-space .fn,
.keyboard-assist-space .option-left {
    text-align: left;
}

.keyboard-assist-space .option-rignt {
    text-align: right;
}

.position p {
    /* background-color: chartreuse; */
    height: 18px;
    text-align: center;
    line-height: 18px;
    width: 36px;
    display: inline-block;
}

.position {
    box-shadow: none !important;
}

.position-up,
.position-other {
    text-align: center;
}


/* 按键样式 */
.keyboard-space p {
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 1);
    transition: all 0.2s ease-out;
}

.keyboard-space .key-down {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 1);
    transform: scale(0.8);
}

.keyboard-space .position {
    transform: none;
}

/* 输入框样式 */
.text-show {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

input {
   width: 400px;
   border-radius: 10px;
   border: 1px solid #b6b6b6;
   height: 25px;
   padding: 0 10px;
   letter-spacing: 1px;
}

/* lock锁灯 */
.caps-lock {
    position: relative;
}
.caps-lock::before {
    content: '';
    width: 5px;
    height: 5px;
    background: #dad7d7;
    display: inherit;
    position: absolute;
    top: 5px;
    border-radius: 50%;
}

.locked::before {
    background: hsl(120, 85%, 78%);
    box-shadow: 0px 2px 3px hsl(120, 85%, 78%);
}

